<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :office_type %><br>
    <%= f.text_field :office_type %>
  </div>
  <div class="field">
    <%= f.label :accomodate %><br>
    <%= f.text_field :accomodate %>
  </div>
  <div class="field">
    <%= f.label :no_of_seats %><br>
    <%= f.text_field :no_of_seats %>
  </div>
  <div class="field">
    <%= f.label :no_of_additional_rooms %><br>
    <%= f.text_field :no_of_additional_rooms %>
  </div>
  <div class="field">
    <%= f.label :isfeature %><br>
    <%= f.check_box :isfeature %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :listing_name %><br>
    <%= f.text_field :listing_name %>
  </div>
  <div class="field">
    <%= f.label :listing_summary %><br>
    <%= f.text_field :listing_summary %>
  </div>
  <div class="field">
    <%= f.label :listing_address %><br>
    <%= f.text_field :listing_address %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :isinternet %><br>
    <%= f.check_box :isinternet %>
  </div>
  <div class="field">
    <%= f.label :iscanteen %><br>
    <%= f.check_box :iscanteen %>
  </div>
  <div class="field">
    <%= f.label :issportsroom %><br>
    <%= f.check_box :issportsroom %>
  </div>
  <div class="field">
    <%= f.label :ismediation %><br>
    <%= f.check_box :ismediation %>
  </div>
  <div class="field">
    <%= f.label :isparking %><br>
    <%= f.check_box :isparking %>
  </div>
  <div class="field">
    <%= f.label :ispowerbackup %><br>
    <%= f.check_box :ispowerbackup %>
  </div>
  <div class="field">
    <%= f.label :isauditorium %><br>
    <%= f.check_box :isauditorium %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
