<div class="panel panel-default">
  <div class="panel-heading">
    Create your office space
  </div>
  <div class="panel-body">
    <div class="container">
<%= form_for(@room) do |f| %>
          <div class="row">
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Office Type</label>
                <!--[key, value]-->
                <%= f.select :office_type, [["Appartment", "Appartment"], ["Techpark", "Techpark"], ["IndividualBuilding", "IndividualBuilding"]], id: 'office_type', prompt: 'Select...', class: 'form-control' %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <label>Accomodate</label>
                <%= f.select :accomodate, [["100", 100], ["200", 200], ["300", 300],["600+", 600]], prompt: 'Select...', class: 'form-control' %>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Seat Nos</label>
                <%= f.select :no_of_seats, [["100", 100], ["200", 200], ["300", 300], ["400+", 400]], prompt: 'Select...', class: 'form-control' %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <label>Additional Rooms</label>
                <%= f.select :no_of_additional_rooms, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], prompt: 'Select...', class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label>Listing Name</label>
              <%= f.text_field :listing_name, placeholder: 'Be clear and descriptive', class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label>Summary</label>
              <%= f.text_area :listing_summary, rows: 5, placeholder: 'Tell about your accomodation!', class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label>Address</label>
              <%= f.text_field :listing_address, placeholder: 'What is your address?', class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label><%= f.check_box :isfeatured %> Featured Listing !</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :iscanteen %> Canteen</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :isinternet %> Internet</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :issportsroom %> Sports Area</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :ismediationhall %> Meditation hall</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :ispowerbackup %> Powerbackup</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :isparking %> Parking</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :isauditorium %> Auditorium</label>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <span class="btn btn-default btn-file">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
                  <%= f.label :photo %>
                  <%= f.file_field :photo, class: 'form-control'%>
                </span>
              </div>
            </div>
          </div>


          <div class="actions">
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>

<% end %>
    </div>
  </div>
</div>