<p id="notice"><%= notice %></p>

<h1>Listing Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Office type</th>
      <th>Accomodate</th>
      <th>No of seats</th>
      <th>No of additional rooms</th>
      <th>Isfeature</th>
      <th>Location</th>
      <th>Listing name</th>
      <th>Listing summary</th>
      <th>Listing address</th>
      <th>Photo</th>
      <th>Isinternet</th>
      <th>Iscanteen</th>
      <th>Issportsroom</th>
      <th>Ismediation</th>
      <th>Isparking</th>
      <th>Ispowerbackup</th>
      <th>Isauditorium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.office_type %></td>
        <td><%= room.accomodate %></td>
        <td><%= room.no_of_seats %></td>
        <td><%= room.no_of_additional_rooms %></td>
        <td><%= room.isfeature %></td>
        <td><%= room.location %></td>
        <td><%= room.listing_name %></td>
        <td><%= room.listing_summary %></td>
        <td><%= room.listing_address %></td>
        <td><%= room.photo %></td>
        <td><%= room.isinternet %></td>
        <td><%= room.iscanteen %></td>
        <td><%= room.issportsroom %></td>
        <td><%= room.ismediation %></td>
        <td><%= room.isparking %></td>
        <td><%= room.ispowerbackup %></td>
        <td><%= room.isauditorium %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
