<p id="notice"><%= notice %></p>

<p>
  <strong>Office type:</strong>
  <%= @room.office_type %>
</p>

<p>
  <strong>Accomodate:</strong>
  <%= @room.accomodate %>
</p>

<p>
  <strong>No of seats:</strong>
  <%= @room.no_of_seats %>
</p>

<p>
  <strong>No of additional rooms:</strong>
  <%= @room.no_of_additional_rooms %>
</p>

<p>
  <strong>Isfeatured:</strong>
  <%= @room.isfeatured %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Listing name:</strong>
  <%= @room.listing_name %>
</p>

<p>
  <strong>Listing summary:</strong>
  <%= @room.listing_summary %>
</p>

<p>
  <strong>Listing address:</strong>
  <%= @room.listing_address %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @room.photo %>
</p>

<p>
  <strong>Isinternet:</strong>
  <%= @room.isinternet %>
</p>

<p>
  <strong>Iscanteen:</strong>
  <%= @room.iscanteen %>
</p>

<p>
  <strong>Issportsroom:</strong>
  <%= @room.issportsroom %>
</p>

<p>
  <strong>Ismediationhall:</strong>
  <%= @room.ismediationhall %>
</p>

<p>
  <strong>Ispowerbackup:</strong>
  <%= @room.ispowerbackup %>
</p>

<p>
  <strong>Isparking:</strong>
  <%= @room.isparking %>
</p>

<p>
  <strong>Isauditorium:</strong>
  <%= @room.isauditorium %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
